.input-group-alternative {
  width:180px;
  height: 43px;
  margin-top: 15px; /* Définir la largeur souhaitée */
}

/* Définissez des marges pour séparer les éléments */
.mt-4 {
  margin-top: 3rem !important; /* Ajoutez la marge en haut */
}

.mb-4 {
  margin-bottom: 2.5rem !important; /* Ajoutez la marge en bas */
}
.custom-header h3 {
  font-size: 0.5rem; /* Ajustez cette valeur selon vos besoins */
}


/* Styles personnalisés pour l'entête de la table */
.custom-table thead th {
  padding: 0.75rem 0.5rem; /* Réduire le rembourrage de l'entête */
  height: 2rem; /* Définir une hauteur plus petite pour l'entête */
  vertical-align: middle; /* Centrer le contenu verticalement */
}
.custom-container {
  background-color: #ffffff; /* Couleur de fond blanche */
  padding: 20px; /* Ajoutez un peu de remplissage pour l'espace autour du contenu */
}
