.input-group-alternative {
  width:180px;
  height: 43px;
  margin-top: 15px; /* Définir la largeur souhaitée */
}

/* Définissez des marges pour séparer les éléments */
.mt-4 {
  margin-top: 3rem !important; /* Ajoutez la marge en haut */
}

.mb-4 {
  margin-bottom: 2.5rem !important; /* Ajoutez la marge en bas */
}
.custom-header h3 {
  font-size: 0.5rem; /* Ajustez cette valeur selon vos besoins */
}
.btn-pink {
  background-color: #ff1493; /* Rose foncé */
  color: #fff; /* Texte blanc */
  /* Autres styles si nécessaire */
}

/* Styles personnalisés pour l'entête de la table */
.custom-table thead th {
  padding: 0.75rem 0.5rem; /* Réduire le rembourrage de l'entête */
  height: 2rem; /* Définir une hauteur plus petite pour l'entête */
  vertical-align: middle; /* Centrer le contenu verticalement */
}
.custom-container {
  background-color: #ffffff; /* Couleur de fond blanche */
  padding: 20px; /* Ajoutez un peu de remplissage pour l'espace autour du contenu */
}
.table-success {
  background-color: #d4edda;
}

.table-danger {
  background-color: #f8d7da;
}
.toast-top-center {
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
}
.toast-custom-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toast-info-custom {
  background-color: #17a2b8;
  color: white;
}

.toast-success-custom {
  background-color: #28a745;
  color: white;
}

.toast-error-custom {
  background-color: #dc3545;
  color: white;
}


.toast-top-left {
  position: fixed;
  left: 100%;
  top: 20%;
  transform: translate(-120%, -40%);
  color: blue;
}




.status-approval {
  background-color: #d4edda; /* ou une autre couleur pour les éléments approuvés */
}

.status-rejected {
  background-color: #f17676; /* ou une autre couleur pour les éléments rejetés */
}
