/* styles.css ou styles.scss */


.chatbot-dialog {
  width: 600px;
 
  border-radius: 8px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 60px;
}
.chatbot-dialog-container {
  position: fixed; /* Position fixée pour rester au centre de la page */
  top: 50%; /* Aligner le haut du conteneur au milieu de la page */
  left: 50%; /* Aligner la gauche du conteneur au milieu de la page */
  transform: translate(-50%, -50%);

  margin-top: 60px; /* Décaler le conteneur de moitié de sa taille en négatif pour le centrer */
}

.chatbot-message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #00A3A3; /* Couleur verte pour le message de l'utilisateur */
  color: white; /* Texte blanc pour le message de l'utilisateur */
  align-self: flex-end;
  margin-left: 30px; /* Marge gauche de 5px */
  margin-right: 120px;
  margin-top: 60px;
}

.chatbot-message.from-bot {
  background-color: #00A3A3;
  color: white;
  align-self: flex-start;
}
.chatbot-messages {
  overflow-y: auto; /* Ajouter une barre de défilement verticale si le contenu dépasse la hauteur maximale */
  min-height: 150px; /* Hauteur maximale de la zone de messages */
  max-height: 250px;
  padding: 10px;
}
.from-user {
  background-color: #00B1A5; /* Couleur verte pour le message de l'utilisateur */
  color: white; /* Texte blanc pour le message de l'utilisateur */
  align-self: flex-end;
  }
.chatbot-input {
  display: flex;
  align-items: center;
  padding: 10px;
  max-height: 200px; /* Hauteur maximale de 60 pixels */
  overflow-y: auto; /* Ajouter une barre de défilement verticale si le contenu dépasse la hauteur maximale */
}
.message-icon {
  vertical-align: middle; /* Alignement vertical au centre */
  margin-left: 5px; /* Marge à gauche */
}

.chatbot-input textarea {
  flex: 1;
  border: none;
  border-radius: 5px;
  padding: 8px;
  resize: none;
 
}

  .chatbot-input button {
    margin-left: 10px;
    background-color: #00B1A5;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  /* message.component.css */
  /* message.component.css */
  .default-message {
    color: gray; /* Couleur grise pour le message par défaut */
  }


  .dialog-title{
height: 50px;
  }

  .message-body{
    display: flex;
    gap: 0rem;
    margin-top: 7px;
  }

  .message-content {
    border-radius: 5px;
    padding: 10px;
  }
  .message-owner{
    color:#00303C;
    font-size: small;
  }
  .message-from-bot{
    display: flex;
    flex-wrap: wrap;
    gap: 0.15rem; 
    justify-content: space-between; 
    align-items: start; 
    margin-bottom: 0.15rem; 
    flex-direction: column;
    }

  .avatar-user{
    margin-inline: 10px;
    font-size: 50px;
    color:#00303C;
  }

  .chat-owner-bot{
    background-color: #00A3A3;
    padding-inline:10px ; 
    color: white; 
    max-width: 350px;
  }
  .chat-owner-user{
    border-radius: 5px;
    padding: 10px;
    padding-inline:10px ;
    background-color: #01857c; 
    color: white; 
    max-width: 350px;
  }

  .message-from-user{
    display: flex;
    margin-inline: 50px;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.15rem; 
    justify-content: space-between; 
    align-items: end; 
    margin-bottom: 0.15rem; 
    flex-direction: column;
    }

.chat-input:focus {
  outline: none;
  box-shadow: none; /* ou box-shadow: 0 0 0 transparent; */
}

