<div class="header bg-gradient-danger custom-header" style="height: 53px;">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Content here -->
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f8f9fe">
  <i class="fas fa-database navbar-icon"></i>
  <span class="nav-text" style="font-size:14px;">StaticData</span>
  <!-- Séparateur -->
  <span class="separator"></span>
  <!-- Texte descriptif -->
  <i class="fas fa-chevron-right navbar-icon"></i>
  <span class="nav-text" style="font-size:14px;">Edit </span>  <!-- Container wrapper -->
  <div class="container-fluid" style="margin-left:550px ; margin-top:6px;">

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse ml-auto" style="margin-top: 24px;">
      <!-- Left links -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
        <li class="nav-item mx-5">
          <a class="nav-link active" aria-current="page" (click)="selectDetails()">Details</a>
          <div class="line" [ngClass]="{'active': activeLineIndex === 0}"></div>
        </li>
        <li class="nav-item mx-5" (click)="selectValues()" [ngClass]="{'active': activeLineIndex === 1}">
          <a class="nav-link">Values</a>
          <div class="line"></div>
        </li>

        <li class="nav-item mx-5" (click)="moveLine(2)" [ngClass]="{'active': activeLineIndex === 2}">
          <a class="nav-link" href="#/history">History</a>
          <div class="line"></div>
        </li>

      </ul>

      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
 
  



  <!-- Container wrapper -->
</nav>
<div style="margin-bottom: 20px;"></div>
<div class="text-left">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-8">

        <div class="card card-user">
          <div class="card-header">
            <h4 class="card-title">Edit Data</h4>
          </div>
          <div class="card-body">
            <div *ngIf="showForm">
              <form (ngSubmit)="submit()">
                <div id="detailsContent">
                  <div class="row">
                    <div class="col-md-4 pr-1">
                      <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" placeholder="Company" value="{{formDataName}}">
                      </div>
                    </div>


                    <div class="col-md-4 px-1">
                      <div class="form-group">
                        <label>Values</label>


                        <ng-container *ngFor="let value of inputValues; let i = index">

                          <tr>

                            <td>{{ i + 1 }}</td>
                            <div style="margin-left: 6px;"></div>
                            <td>

                              <input type="text" id="valueInput{{i}}" class="form-control" [value]="inputValues[i]" (input)="$event.target.value" placeholder="{{formvalues}}" style="width:280px;">
                            </td>



                            <td>


                              <!-- Icone de trois points verticaux pour afficher les options -->
                             


                            </td>
                          </tr>
                        </ng-container>

                      </div>
                    </div>

                    
                  </div>
                  <div style="margin-bottom: 20px;"></div>
                  <div class="row">
                    <div class="col-md-5 pr-1">
                      <div class="form-group">
                        <label>Status</label>
                        <input type="text" class="form-control" placeholder="Lorem by " value="Inactive">
                      </div>
                    </div>

                    <div class="col-md-5 px-1">
                      <div class="form-group">
                        <label>Created By</label>
                        <input type="text" class="form-control" placeholder="Lorem by" value="name ">
                      </div>
                    </div>
                  </div>
                  <div style="margin-bottom: 20px;"></div>
                  <div class="row">
                    <div class="col-md-5 pr-1">
                      <div class="form-group">
                        <label>Types</label>
                        <input type="text" class="form-control" placeholder="Lorem by " value="{{formDataTypes}}">
                      </div>
                    </div>

                    <div class="col-md-5 px-1">
                      <div class="form-group">
                        <label>Category</label>
                        <input type="text" class="form-control" placeholder="" value="{{formDataCategory}}">
                      </div>
                    </div>
                  </div>
                  <div style="margin-bottom: 20px;"></div>
                  <div class="row">
                    <div class="col-md-5 pr-1">
                      <div class="form-group">
                        <label>Creation Date</label>
                        <div class="input-group input-group-alternative mb-3">
                          <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" (click)="dpCreation.toggle()" type="button">
                              <i class="fa fa-calendar"></i> <!-- Utilisez une icône de calendrier -->
                            </button>
                          </div>
                          <input class="form-control" placeholder="{{formDataCreateDate}}" name="creationDate" [(ngModel)]="creationDate" ngbDatepicker #dpCreation="ngbDatepicker">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-5 pr-1">
                      <div class="form-group">
                        <label>Activation Date</label>
                        <div class="input-group input-group-alternative mb-3">
                          <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" (click)="dpActivation.toggle()" type="button">
                              <i class="fa fa-calendar"></i> <!-- Utilisez une icône de calendrier -->
                            </button>
                          </div>
                          <input class="form-control" placeholder="2024-02-10" name="activationDate" [(ngModel)]="activationDate" ngbDatepicker #dpActivation="ngbDatepicker">
                        </div>
                      </div>
                    </div>
                  </div>


                  <div>
                    <!-- Autres éléments de votre application -->
                    <app-liste-values></app-liste-values>
                  </div>
                  <div class="row">
                    <div class="col-md-11">
                      <div class="d-flex justify-content-center align-items-center">
                        <button type="submit" class="btn btn-primary  btn-lg mx-2 w-40">Save</button>
                        <button type="submit">Submit</button>

                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>


          <div *ngIf="!showForm">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="px-4 py-3 bg-white text-primary mx-6" style="font-size:14px;">#</th>

                  <th scope="col" class="px-4 py-3 bg-white text-primary mx-6" style="font-size:14px;"> Value</th>
                  <th scope="col" class="px-4 py-3 bg-white text-primary mx-6" style="font-size:14px;">Options</th>
                </tr>
              </thead>
              <tbody>
              <td>1</td>

              <a type="text" id="valueInput{{i}}" class="form-control" [(ngModel)]="inputValues[i]" placeholder="{{formvalues}}" style="width:280px; margin-left:25px;height:40px; margin-top:10px;"></a>
              <ng-container *ngFor="let value of inputValues; let i = index">

                <tr>
                  <td>{{ i + 2 }}</td>



                  <td><input type="text" id="valueInput{{i}}" class="form-control" [(ngModel)]="inputValues[i]" placeholder="enter your value" style="width:280px;"></td>
                  <td>
                    <!-- Icone de trois points verticaux pour afficher les options -->
                    <!-- app-options-menu.component.html -->
                    <div *ngIf="showShareOptions" class="col-md-4 pr-1">
                      <div class="form-group">

                        <div class="colonne-multiselect">
                          <angular2-multiselect [data]="dropdownList" [(ngModel)]="publishedVersions.selectedItems" (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)"></angular2-multiselect>
                        </div>
                      </div>
                    </div>
                    <div ngbDropdown #dropdown="ngbDropdown" class="options-menu col-md-4 pr-1">
                      <button class="btn btn-options" id="dropdownButton{{ i }}" ngbDropdownToggle>
                        <i class="fas fa-ellipsis-v"></i>
                      </button>
                      <div ngbDropdownMenu aria-labelledby="dropdownButton{{ i }}" class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item" (click)="addInput(i)">
                          <i class="fas fa-plus"></i> Ajouter
                        </button>
                        <button class="dropdown-item" (click)="removeInput(i)">
                          <i class="fas fa-trash-alt"></i> Supprimer
                        </button>
                        <button class="dropdown-item" (click)="shareOptions()">
                          <i class="fas fa-share"></i> Partager
                        </button>
                      </div>
                    </div>
                    <!-- Champ "Share" inclus dans la même colonne -->

                  </td>
                </tr>
              </ng-container>
              </tbody>
            </table>
          </div>


         

        </div>
        </div>
      </div>
    </div>
  </div>

