.nav-item {
  margin-right: 10px; /* Ajustez cette valeur selon l'espace désiré */
}
.line {
  border-bottom: 1px solid black; /* Style de ligne */
  margin-top: 8px; /* Marge en haut de la ligne */
}
.languages-dropdown {
  max-height: 200px; /* Définir la hauteur maximale du menu déroulant */
  overflow-y: auto; /* Activer le défilement vertical si le contenu dépasse la hauteur maximale */
}

.collapse navbar-collapse ml-auto{
    overflow-y:hidden;
    overflow-x:hidden;
}
.line.active {
  opacity: 1; /* Lorsque l'élément "Values" est actif, la ligne devient visible */
}
.translation-input {
  width: 60%; /* Ajustez la largeur selon vos besoins */
  height: 40px; /* Ajustez la hauteur selon vos besoins */
  padding: 10px; /* Ajoutez du padding pour plus d'espace intérieur */
  border: 1px solid #ccc; /* Bordure légère */
  border-radius: 5px; /* Coins arrondis */
  font-size: 16px; /* Taille de police */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère pour l'effet de profondeur */
  outline: none; /* Enlever le contour par défaut lors du focus */
  transition: border-color 0.3s, box-shadow 0.3s; /* Transition douce pour le focus */
}

.translation-input:focus {
  border-color: #66afe9; /* Couleur de bordure lors du focus */
  box-shadow: 0px 0px 8px rgba(102, 175, 233, 0.6); /* Ombre lors du focus */
}


.show-line {
  display: block; /* Affichez la ligne lorsque l'élément est sélectionné */
}
.nav{
    color: black;
}


.separator {
  color: #999; /* Couleur du séparateur */
  margin: 0 5px; /* Espacement autour du séparateur */
}
.navbar {
  background-color: #f8f9fa; /* Couleur de fond de la barre de navigation */
  padding: 10px; /* Espacement autour des éléments de navigation */
}

.nav-text {
  font-size: 16px; /* Taille de police */
  margin-right: 10px; /* Espacement entre les éléments */
}

.navbar-icon {
  color: grey; /* Couleur de l'icône */
  margin-right: 5px; /* Espacement entre l'icône et le texte */
}

.nav-item {
  position: relative; /* Assurez-vous que la position est relative pour les éléments parent des pseudo-éléments */
}

.nav-item::after {
  content: ''; /* Ajoutez un pseudo-élément après chaque élément de navigation */
  position: absolute; /* Position absolue pour positionner la ligne */
  bottom: -2px; /* Aligner la ligne en bas de l'élément parent */
  left: 0; /* Aligner la ligne à partir de la gauche de l'élément parent */
  width: 100%; /* La largeur de la ligne */
  height: 2px; /* La hauteur de la ligne */
  background-color: silver; /* Couleur de la ligne */
  display: none; /* Par défaut, cachez la ligne */
}
.page-container {
  overflow-x: hidden;
}
.nav-item.active::after {
  display: block; /* Affichez la ligne lorsque l'élément est actif */
}
.custom-select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5;
  outline: none;
  box-shadow: none;
}

.custom-select option {
  padding: 8px;
}

.btn-submit {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #00A3A3;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-submit:hover {
  background-color: #0056b3;
}
/* Styles CSS pour limiter la taille de la colonne */

.colonne-multiselect {
   /* Permet au composant de s'adapter à la largeur de son conteneur */
  width:280px; /* Définissez la largeur maximale souhaitée */
  overflow-x: auto; /* Limite la largeur maximale du composant */
  /* Hauteur fixe de 300 pixels, ajustez selon vos besoins */
  font-size: 16px; /* Taille de la police de 16 pixels, ajustez selon vos besoins */
  margin-bottom: 10px; /* Marge inférieure de 10 pixels pour séparer des éléments suivants */
}
.container-fluid {
  width: 100%; /* Ajustez la largeur de votre conteneur selon vos besoins */
  float: left;
 
  overflow-x: hidden;
   /* Utilisez 100% de la largeur de la fenêtre */
  max-width: 200%; /* Limitez la largeur maximale à la largeur de la fenêtre */
}
.submit-button {
  background-color: #ef8404; /* Red */
  color: #ffffff; /* White */
  border-radius: 4px;
  border-color: #ef8404;
  margin-left: 10px;
  padding: 7px 8px;
}
.editable-content {
  display: inline-block;
  border: 1px solid #ced4da;
  padding: .375rem .75rem;
  line-height: 2;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: .25rem;
  min-width: 550px; /* Ajustez la largeur selon vos préférences */
  cursor: pointer; /* Ajoute un curseur de type pointeur */
}
/* styles.css */
/* styles.css */
.translate-btn {
  margin-left: 10px;
}

.add-btn {
  margin-left: 10px;
}

.translation-input {
  width: 100px; /* Adjust as needed */
}

.options-menu {
  margin-left: 10px;
}
.value-input {
  width: 200px; /* Adjust the width as needed */
}

.translation-input {
  width: 150px; /* Adjust the width as needed */
}

.value-row {
  display: flex;
  align-items: center;
}

.toast-top-center {
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
}

.toast-custom-center {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.toast-info-custom {
  background-color: #17a2b8 !important;
  color: white !important;
}

.toast-success-custom {
  background-color: #28a745 !important;
  color: white !important;
}

.toast-error-custom {
  background-color: #dc3545 !important;
  color: white !important;
}


