/* General styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7; /* Light Grey */
}

/* Dialog container */
.dialog-container {
  background-color: #ffffff; /* White */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
  padding: 40px 30px; /* Padding */
  width: 700px; /* Width */
  margin: 50px auto;
  position: fixed;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.input-row {
  display: flex;
  align-items: center;
}

.input-buttons {
  margin-left: 10px; /* Ajoute un espace entre l'input et les boutons */
}

/* Headings */
h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333333; /* Dark Grey */
}

/* Labels for input fields */
.label-name {
  color: #555555; /* Grey */
  margin-bottom: 5px;
  font-size: 16px;
}

/* Input styles */
.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}

.input-wrapper {
  position: relative;
  flex-grow: 1;
}

.input-name {
  width: calc(100% - 110px); /* Adjust width to accommodate buttons and space */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #cccccc; /* Light Grey border */
  border-radius: 5px;
  font-size: 16px;
}

/* Input buttons container */
.input-buttons {
  display: flex;
  gap: 5px;
}

/* Buttons */
.btn {
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

/* Primary button */
.btn-primary,
.btn-success {
  background-color: #4caf50; /* Green */
  color: #ffffff; /* White */
  border: none;
}

/* Secondary button */
.btn-secondary {
  background-color: #f44336; /* Red */
  color: #ffffff; /* White */
  border: none;
}

/* Circle buttons */
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0; /* Light Grey */
  border: 1px solid #cccccc; /* Grey border */
}

/* Customize the "+" button */
.btn-plus,
.btn-minus {
  background-color: #ffffff; /* Light Grey */
  color: #333333; /* Dark Grey text */
}

/* Close icon */
.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #666666; /* Grey */
}

/* Move buttons to the right */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.submit-button, .cancel-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
}

.cancel-button {
  background-color: #dc3545;
  color: #fff;
  margin-left: 10px; /* Ajoutez un espace entre les boutons si nécessaire */
}

.submit-button:hover, .cancel-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

