// General styles
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f8ff; /* Light Sky Blue */
 }
 
 // Dialog container
.dialog-container {
  background-color: #f0ffff; /* Alice Blue */
  border-radius: 10px; /* Softened border radius */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Softer shadow */
  padding: 50px 30px; /* More padding for a cozy feel */
  width: 800px; // Adjust width as needed
  margin: 50px auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

}


 // Headings
 h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #000080; /* Navy Blue for a more vibrant look */
 }
 
 // Labels for input fields
 .label-name {
  color: #00000c; /* Navy Blue for consistency */
  margin-bottom: 5px;
  font-size: 16px;
  
 }
 
 .input-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;

}
 
 .input-wrapper {
  position: relative;
  flex-grow: 1;
 }
 
 .input-name {
  width: calc(100% - 80px); // Adjust width to accommodate buttons
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #000000; /* Navy Blue border */
  border-radius: 5px;
  font-size: 16px;
  margin-left: 15px;
 }
 
 // Input buttons container
 .input-buttons {
  display: flex;
  gap: 5px;
  position: absolute;
  right: 0;
  top: 0;
 }
 
 // Buttons
 .btn {
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
 }
 
 // Primary button
 .btn-primary {
  background-color: #4b4bb6; /* Blue */
  color: #fff;
  border: none;
 }
 
 // Secondary button
 .btn-secondary {
  background-color: #4b4bb6; /* Light Blue */
  color: #fff;
  border: none;
 }

 .btn-success {
  background-color: #4b4bb6; /* Light Blue */
  color: #fff;
  border: none;
 }
 
 // Circle buttons
 // Circle buttons
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff; /* White background */
  border: 1px solid #000000; /* Navy Blue border */
}

// Customize the "+" button
.btn-plus {
  background-color: #fff; /* White background */
  color: #000000; /* Navy Blue text */
  margin-left: 15px;

}

// Customize the "-" button
.btn-minus {
  background-color: #fff; /* White background */
  color: #000000; /* Navy Blue text */
}


.buttons-container {
  display: flex;
  justify-content: flex-end; // Align buttons to the right
  gap: 10px;
  margin-top: 20px;
}


.close-icon {
  position: absolute;
  top: 10px; /* Ajustez la position verticale selon vos besoins */
  right: 10px; /* Ajustez la position horizontale selon vos besoins */
  cursor: pointer;
  color: #333; /* Couleur de l'icône de fermeture */
}
