<div *ngIf="showFirstDialog" class="dialog-container right-dialog" style="width: 600px; height: auto; max-height: 700px; border-radius: 10px; background-color: #f9f9f9; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); overflow-y: auto; top: 100%; left: 55%; transform: translate(-50%, -50%); margin-right: -80px;">
  <i class="fas fa-times close-icon" (click)="onClose()" style="position: absolute; top: 20px; right: 20px; color: #888; font-size: 20px; cursor: pointer;"></i>
  <h2 style="text-align: start; margin-left: 30px; margin-top: 20px; margin-bottom: 30px; color: #f27e01; font-size: 36px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); text-align: center; "> Edit {{formDataName}} </h2>

  <form>
    <div class="ml-3">
      <div class="col-lg-12">
        <label class="col-form-label" for="dataName">Name :</label>
        <input name="Name" type="text" class="form-control" placeholder="{{formDataName}}" required>
      </div>

      <div class="col-lg-12">
        <div class="mb-3">
          <label class="col-form-label">Status :</label>
          <input name="Status" type="text" class="form-control" placeholder="{{formDataStatus}}" required>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="mb-3">
          <label class="col-form-label">Address :</label>
          <input name="Address" type="text" class="form-control" placeholder="{{formDataaddress}}" required>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="mb-3">
          <label class="col-form-label">Responsable :</label>
          <input name="Responsable" type="text" class="form-control" placeholder="{{formDataResponsible }}" required>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="mb-3">
          <label class="col-form-label">Phone Number :</label>
          <input name="phone" type="number" class="form-control" placeholder="{{formDatanum}}" required>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="mb-3">
          <label class="col-form-label">Description :</label>
          <input name="description" type="text" class="form-control" placeholder="{{formDataCreatedBy}}" required>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="mb-3">
        <label>Creation Date</label>
        <div class="input-group input-group-alternative mb-3">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" (click)="dpCreation.toggle()" type="button">
              <i class="fa fa-calendar"></i> <!-- Utilisez une icône de calendrier -->
            </button>
          </div>
          <input class="form-control" placeholder="{{CreateDate}}" name="creationDate" [(ngModel)]="creationDate" ngbDatepicker #dpCreation="ngbDatepicker">
        </div>
        </div>
      </div>
   
<div class="button-container" style="text-align: right; padding-right: 30px; padding-bottom: 20px;">
  <button class="submit-button btn-md">Save</button>
  <button class="cancel-button btn-md" (click)="onClose()">Cancel</button>
</div>
  </form>
</div>
