@import '~leaflet/dist/leaflet.css';
.map-container {
  height: 400px; /* Hauteur de la carte */
  width: 100%; /* Prend toute la largeur du conteneur parent */
  overflow: hidden; /* Masque tout contenu qui dépasse */
}

#map {
  height: 100%; /* Hauteur de la carte par rapport à son conteneur parent */
}
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Empêche le défilement horizontal */
}

.container-fluid {
  max-width: 100%;
  overflow-x: hidden; /* Empêche le défilement horizontal */
}

.table-responsive {
  overflow-x: auto; /* Permet à la table de défiler horizontalement si nécessaire */
}

.table {
  width: 100%;
  table-layout: auto; /* Ajuste automatiquement la largeur des colonnes */
}

.header {
  width: 100%;
  overflow-x: hidden; /* Empêche le défilement horizontal dans l'en-tête */
}

.form-group, .form-control {
  width: 100%;
}

.form-container {
  padding: 15px;
}

input, select {
  width: 100%; /* Assure que les champs de formulaire utilisent la pleine largeur disponible */
}

.row {
  display: flex;
  flex-wrap: wrap; /* Permet aux colonnes de revenir à la ligne si elles ne tiennent pas dans une seule ligne */
}

.col-md-4 {
  flex: 1;
  max-width: 100%;
}
.cancel-button {
  background-color: #ef8404; /* Red */
  color: #ffffff; /* White */
  border: none;
  margin-left: 10px;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

/* Style de base pour les boutons */
.btn-primary {
  background-color: #f27e01; /* Couleur de fond */
  color: white; /* Couleur du texte */
  border: none; /* Pas de bordure */
  border-radius: 5px; /* Bordure arrondie */
  padding: 8px 12px; /* Espacement intérieur */
  cursor: pointer; /* Curseur de souris pointer */
  transition: background-color 0.3s ease; /* Transition de couleur de fond */
}

/* Style pour le survol */
.btn-primary:hover {
  background-color: #0056b3; /* Changement de couleur de fond au survol */
}
.white-block {
  background-color: white;
  border: 1px solid #ccc;
  padding: 3px;
  border-radius: 5px;
  width:520px;
}
