.dialog-container {
  width: 450px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: fixed; /* Fixes the dialog to the viewport */
  top: 30%; /* Centers the dialog vertically */
  left: 58%; /* Centers the dialog horizontally */
  transform: translate(-50%, -50%); /* Adjusts for exact centering */
  z-index: 1000; /* Ensures the dialog is above other content */
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #888;
  font-size: 15px;
  cursor: pointer;
}

.dialog-title {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  color: #fb7050;
  margin: 30px 0 20px 0;
}

.title-text {
  display: inline-block;
  text-align: center;
  word-wrap: break-word;
}

.button-container {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border: none;
}



.btn-primary:hover {
  background-color: #0056b3;
}



.btn-danger:hover {
  background-color: darkred;
}
