<div class="header bg-gradient-danger custom-header" style="height: 53px;">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Content here -->
    </div>
  </div>
</div>
<div style="margin-top:20px; margin-left:20px;">
  <i class="fas fa-check-circle navbar-icon" style="margin-left: 10px;"></i>
  <span class="nav-text" style="font-size:15px; margin-left:10px;" (click)=" goToVal()">Validation</span>

  <span class="separator" style="margin-right:-15px"></span>
  <i class="fas fa-chevron-right navbar-icon"></i>
  <i class="fas fa-exclamation-triangle navbar-icon" style="margin-left: 10px;"></i>
  <span class="nav-text" style="font-size:15px; margin-left:10px;">Complaint</span>

</div>



<div class="container-fluid mt-4 mb-4">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">
            Static Data Contributors
         
          </h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled team-members">
            <li>
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                    <img src="assets/img/theme/team-4-800x800.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-md-7 col-7">
                  Administrator M1
                  <br />
                  <span class="text-muted">
                    <small>Static Data Curreuncy </small>
                  </span>
                </div>
                <div class="col-md-3 col-3 text-right">
                  <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                    <img src="assets/img/theme/team-4-800x800.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-md-7 col-7">
                  Administrator M1
                  <br />
                  <span class="text-success">
                    <small>Static Data Country</small>
                  </span>
                </div>
                <div class="col-md-3 col-3 text-right">
                  <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                    <img src="assets/img/theme/team-4-800x800.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-ms-7 col-7">
                  Administartor M1
                  <br />
                  <span class="text-danger">
                    <small>Static Data Lorem by</small>
                  </span>
                </div>
                <div class="col-md-3 col-3 text-right">
                  <button class="btn btn-sm btn-outline-success btn-round btn-icon" (click)="openMessageDialog()">
                    <i class="fa fa-envelope"></i>
                  </button>

                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
