.dialog-container {
  max-width: 700px;
  height: 700px;
  /*  max-height: 600px;

*/ border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialog-title {
  text-align: center;
  margin-top: 40px;
  color: #dc3545; /* Red */
  font-family: 'Arial', sans-serif;
  font-size: 28px;
}

.title-icon {
  margin-right: 10px;
}



.dialog-actions {
  display: flex;
  justify-content: center;
}

.action-button {
  padding: 10px 20px;
  margin: 10px;
}

.button-icon {
  margin-right: 5px;
}

.button-container {
  text-align: end;
  margin-top: 40px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.submit-button, .cancel-button {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.submit-button {
  background-color: #00A3A3; /* green */
  color: #ffffff; /* White */
  border: none;
}

.cancel-button {
  background-color: #ef8404; /* Red */
  color: #ffffff; /* White */
  border: none;
  margin-left: 10px;
}

.input-wrapper {
  display: flex; /* Utiliser flexbox pour aligner les éléments horizontalement */
  align-items: center;
}

.input-name {
  width: 300px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;

}
.label-name{
    margin-top:10px;
    margin-left:10px;
}

.input-buttons {
  /* Utiliser flexbox pour aligner les éléments horizontalement */
  align-items: center; /* Aligner verticalement les éléments sur l'axe des colonnes */
  justify-content: center; /* Aligner horizontalement les éléments sur l'axe principal */
}

.btn-circle {
  background-color: #00A3A3; /* Changer la couleur du fond */
  color: white;
  border: none;
  cursor: pointer;
  margin: 0 5px; /* Espacement horizontal entre les boutons */
  /* Conserver les coins arrondis */
}
.input-container {
  margin-bottom: 10px; /* Ajoutez une marge en bas pour créer de l'espace entre chaque champ de valeur */
}
