.active {
  background-color: #e3f2fd; /* Couleur de fond en rouge */
  /*/color: white; /* Couleur du texte en blanc ou toute autre couleur lisible */
  /*/border-left: 3px solid ; /* Bordure gauche de 3px solide en rouge */
  padding: 8px 10px; /* Espacement intérieur haut/bas 8px, gauche/droite 12px */
  margin-left: 10px; /* Marge gauche de 5px */
  margin-right: 10px;
  border-radius: 5px; /* Marge droite de 5px */
}
