<div *ngIf="showFirstDialog" class="dialog-container right-dialog">
  <i class="fas fa-times close-icon" (click)="onClose()" style="position: absolute; top: 20px; right: 20px; color: #888; font-size: 20px; cursor: pointer;"></i>
  <h2 class="dialog-title">
    <i class="fas fa-check-circle"></i>
    Approvable {{ selectedItemName }} 
  </h2>

  <div class="dialog-content">
    <p>Are you sure you want to publish this static data?</p>
  </div>

  <div class="dialog-actions">
    <button mat-button class="action-button" (click)="publish(true)"><i class="fas fa-check-circle button-icon"></i>Publish</button>
  </div>
  <div *ngFor="let version of versions; let i = index">
    <div *ngIf="version.url">
      <a (click)="generatePDF(version)" class="new-version-link">
        <i class="far fa-file-pdf icon"></i>New Version PDF V{{ version.versionNumber }}
        <span class="pdf-date" *ngIf="version.generatedPDFDate">({{ version.generatedPDFDate }})</span>
      </a>
    </div>
  </div>

    <!-- Boutons de soumission et d'annulation -->
  <div class="button-container">
    <button class="btn btn-success submit-button" (click)="closeDialog()" [routerLink]="['/share']">Share</button>
    <button class="btn btn-danger cancel-button" (click)="onClose()">Cancel</button>
  </div>
  </div>
