<div *ngIf="showFirstDialog" class="dialog-container right-dialog">
  <i class="fas fa-times close-icon" (click)="onClose()" style="position: absolute; right: 20px; color: #ef8404; font-size: 15px; cursor: pointer;"></i>
  <h5 class="dialog-title" style="color: #ef8404;">

    Are you sure you want to validate <br > {{ selectedItemName }} ?
  </h5>

  <div class="button-container" style="margin-left:80px;">
    <button class="btn btn-primary" (click)="goTovalid()">
      <i class="fa fa-check" aria-hidden="true" style="font-size:12px"></i> Yes
    </button>
    <button class="btn cancel-button" (click)="onClose()">Cancel</button>
  </div>
  </div>
