.dialog-container {
  width: 600px;
  height: 350px;
  max-height: 700px;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.dialog-title {
  text-align: center;
  margin-top: 30px;
  font-family: 'Pacifico', cursive;
  font-size: 36px;
  color: #00303C; /* Green */
}

.title-icon {
  margin-right: 10px;
}

.dialog-content {
  padding: 10px;
  text-align: center;
  color: #333333;
  font-size: 40px;
  color: #00A3A3;
  font-family: 'Pacifico', cursive;
}



.action-button {
  padding: 8px 16px;
  margin-left: 20px;
  border-radius: 10px;
  font-size: 18px;
  background-color: #A9A9A9;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.action-button:hover {
  background-color: #00A3A3; /* Darker green on hover */
}
.new-version-link{
    margin-left:20px;
    margin-top:10px;
}
.button-icon {
  margin-right: 8px;
}

.button-container {
  display: flex;
  justify-content: flex-end; /* Aligner les boutons à droite */
  margin-top: 15px;
  padding: 8px 16px;

}

.submit-button,
.cancel-button {
  padding: 8px 16px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  color:#ffffff;/* Ajoutez une transition pour une animation fluide */
}

.submit-button {
  background-color: #A9A9A9; /* Gris foncé par défaut */
  color: #ffffff; /* Vert par défaut */
  border: none; /* Supprimer la bordure */
}

.cancel-button {
  background-color: #A9A9A9; /* Gris foncé par défaut */
  color: #ffffff; /* Rouge par défaut */
  border: none; /* Supprimer la bordure */
}

.submit-button:hover {
  background-color: #00A3A3; /* Vert en survol */
  color: #ffffff; /* Texte blanc en survol */
}

.cancel-button:hover {
  background-color: #eb810aff; /* Rouge en survol */
  color: #ffffff; /* Texte blanc en survol */
}

.submit-button:active {
  background-color: #00A3A3; /* Vert plus foncé lorsqu'appuyé */
}

.cancel-button:active {
  background-color: #eb810aff; /* Rouge plus foncé lorsqu'appuyé */
}

