<p>share works!</p>
<div class="header bg-gradient-danger custom-header" style="height: 53px;">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Content here -->
    </div>
  </div>
</div>
<div style="margin-top:20px; margin-left:20px;">
  <i class="fas fa-database navbar-icon"></i>
  <span class="nav-text" style="font-size:15px; margin-left:10px;">StaticData</span>
  <!-- Séparateur -->
  <span class="separator"></span>

  <i class="fas fa-chevron-right navbar-icon"></i>
  <span class="nav-text" style="font-size:15px; margin-left:10px;">Validation</span>
  <span class="separator"></span>
  <span class="nav-text" style="font-size:15px; margin-left:10px;">Share</span>
</div>
<!-- Page content -->
<div class="container-fluid mt-4 mb-4">

  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0 d-flex justify-content-between align-items-center mt-n2" style="height: 75px;">
          <!-- Appliquez des classes de taille Bootstrap à l'élément h3 -->
          <h3 class="mb-0">List of Sharing {{ selectedItemName }} </h3>
          <div class="d-flex align-items-center ml-auto">
            <div class="col-md">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-filter" aria-hidden="true"></i></span>
                </div>
                <input type="text" class="form-control form-control-sm custom-filter-input" placeholder="Filter..." style="margin-top: 4px;" (input)="applyFilter($event.target.value)">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <!-- Tableau -->
        <table class="table align-items-center table-flush custom-table bg-white">
          <!-- Entête de tableau -->
          <thead>
            <tr>
              <!-- Colonne pour la case à cocher -->
              <th scope="col" class="px-4 py-3 bg-white text-primary mx-6"></th>
              <!-- Autres colonnes -->
              <th scope="col" class="px-4 py-3 bg-white text-primary mx-6">ID</th>
              <th scope="col" class="px-4 py-3 bg-white text-primary mx-6">Version</th>
              <th scope="col" class="px-4 py-3 bg-white text-primary mx-6">CreatedDate</th>   
              <th scope="col" class="px-4 py-3 bg-white text-primary mx-6 ml-6">Actions</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <!-- Corps de tableau -->
          <tbody>
            <!-- Boucle sur les données pour afficher les lignes de la table -->
            <tr *ngFor="let item of items">
              <!-- Case à cocher -->
              <td class="px-4 py-3 mx-6">
                <input type="checkbox" [checked]="item.checked" (change)="onCheckboxChange($event.target.checked, item)">
              </td>
              <!-- Autres colonnes avec les données de l'élément -->
              <td class="px-4 py-3 mx-6">{{ item.id }}</td>
              <td class="px-4 py-3 mx-6" (click)="logName(item.name)">{{ item.Version }}</td>
              <td class="px-4 py-3 mx-6">{{ item.CreatedDate}}</td>
              <td class="px-4 py-3 mx-4 ml-4">
                <button class="btn btn-circle btn-plus" style="margin-left: 5px;" (click)="addInput()">+</button>

              </td>
              <button *ngIf="isItemSelected" class="btn btn-success btn-sm" (click)="valider(item)">Submit</button>
            </tr>
          </tbody>
        </table>
        
      </div>

    
    </div>
  </div>
</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
