
<div class="header bg-gradient-danger custom-header" style="height: 53px;">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Content here -->
    </div>
  </div>
</div>
<div style="margin-top:20px; margin-left:20px;">
  <i class="fas fa-database navbar-icon"></i>
  <span class="nav-text" style="font-size:15px; margin-left:10px;">StaticData</span>
  <!-- Séparateur -->
  <span class="separator"></span>

  <i class="fas fa-chevron-right navbar-icon"></i>
  <i class="fas fa-check-circle navbar-icon" style="margin-left: 10px;"></i>
  <span class="nav-text" style="font-size:15px; margin-left:10px;">Validation</span>
  <span class="separator" style="margin-right:-15px"></span>
  <i class="fas fa-chevron-right navbar-icon"></i>
  <i class="fas fa-share-alt navbar-icon" style="margin-left: 10px;"></i>

  <span class="nav-text" style="font-size:15px; margin-left:10px;">Share</span>
</div>



<!-- Page content -->
<div class="container-fluid mt-4 mb-4">

  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0 d-flex justify-content-between align-items-center mt-n2" style="height: 75px;">
          <!-- Appliquez des classes de taille Bootstrap à l'élément h3 -->
          <h3 class="mb-0">List of Sharing {{ selectedItemName }} </h3>
          <div class="d-flex align-items-center ml-auto">
            <div class="col-md">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-filter" aria-hidden="true"></i></span>
                </div>
                <input type="text" class="form-control form-control-sm custom-filter-input" placeholder="Filter..." style="margin-top: 4px;" (input)="applyFilter($event.target.value)">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <!-- Tableau -->
        <table class="table align-items-center table-flush custom-table bg-white">
          <!-- Entête de tableau -->
          <!-- Entête de tableau -->
          <!-- Entête de tableau -->
          <thead>
            <tr>
              <!-- Autres colonnes -->
              <th scope="col" class="px-4 py-3 bg-white text-primary mx-6">ID</th>
              <th scope="col" class="px-4 py-3 bg-white text-primary mx-6">Version</th>
              <th scope="col" class="px-4 py-3 bg-white text-primary mx-6">CreatedDate</th>
              <!-- Colonne "Share" -->
              <th scope="col" class="px-4 py-3 bg-white text-primary mx-6" *ngIf="!showShareField">Share</th>
              <!-- Colonne "Status" -->

              <th scope="col" class="px-4 py-3 bg-white text-primary mx-6 ml-6" *ngIf="showShareField">Actions</th>
              <th scope="col" class="px-4 py-3 bg-white text-primary mx-6 ml-6" *ngIf="showStatusField">Status</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <!-- Corps de tableau -->
          <tbody>
            <!-- Boucle sur les données pour afficher les lignes de la table -->
            <tr *ngFor="let version of publishedVersions">
              <td class="px-4 py-3 mx-6">{{ version.versionNumber }}</td>
              <td class="px-4 py-3 mx-6">New version V {{ version.versionNumber }}</td>
              <td class="px-4 py-3 mx-6">{{ version.generatedPDFDate }}</td>
              <!-- Colonne "Share" -->
              <td class="colonne-multiselect" *ngIf="showShareField">
                <angular2-multiselect [data]="dropdownList" [(ngModel)]="version.selectedItems"
                                      (onSelect)="onItemSelect($event)"
                                      (onDeSelect)="onItemDeSelect($event)"></angular2-multiselect>
              </td>
              <!-- Colonne "Status" -->
              <td *ngIf="showStatusField" class="px-4 py-3 mx-6">
                <!-- Shareable -->

                <ng-container *ngIf="version.selectedItems && version.selectedItems.length > 0">
                  <a>shareable</a>
                </ng-container>
                <!-- No Shareable -->
                <ng-container *ngIf="!(version.selectedItems && version.selectedItems.length > 0)">
                  <span>No Shareable</span>
                </ng-container>
              </td>
              <!-- Colonne "Actions" -->
              <td class="px-4 py-3 mx-6" *ngIf="showShareField">
                <!-- Bouton "Submit" -->
                <button class="btn btn-success btn-sm" (click)="valider(version)">Submit</button>
              </td>
              <!-- Colonne pour afficher le contenu de Share si la colonne Status est affichée -->
              <td colspan="6" *ngIf="showStatusField">
                <!-- Colspan pour fusionner toutes les colonnes -->
                <ng-container *ngIf="version.selectedItems && version.selectedItems.length > 0">
                  <a *ngFor="let selectedItem of version.selectedItems">{{ selectedItem.itemName }} | </a>
                </ng-container>
                <ng-container *ngIf="!(version.selectedItems && version.selectedItems.length > 0)">
                  <span>No items selected</span>
                </ng-container>
              </td>
            </tr>
          </tbody>



        </table>

      </div>
    </div>
  </div>
</div>


<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
