<div class="dialog-container">
  <div class="dialog-header">
    <h2 class="mat-dialog-title">
      <span class="title">Partager</span>
      <button mat-button class="close-button" (click)="closeDialog()">X</button>
    </h2>
  </div>
  <hr>
  <h2 class="h2">Information1</h2>
  <input type="text" placeholder="Ecrire le nom de l'entite...">
  <button mat-button class="share-button" color="primary">Partager maintenant</button>
  <hr>
  <h2 class="h2">Envoyer directement</h2>
  <div class="recent-entities">
    <button mat-button class="entity-button">
      <div class="profile-circle"></div>
      <span class="entity-text">Entity1</span>
    </button>
    <button mat-button class="entity-button">
      <div class="profile-circle"></div>
      <span class="entity-text">Entity2</span>
    </button>
  </div>
</div>
